<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Дневник Студента{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Дневник Студента</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">О приложении</a></li>
                <li class="nav-item"><a class="nav-link" href="/image">Страница с картинкой</a></li>
                <li class="nav-item"><a class="nav-link" href="/bootstrap">Странциа с bootstrap компонентами</a></li>
                <li class="nav-item"><a class="nav-link" href="/form">Создать задачу</a></li>
                <li class="nav-item"><a class="nav-link" href="/upload">Загрузить фото</a></li>
                <li class="nav-item"><a class="nav-link" href="/gallery">Галерея</a></li>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>