{% extends "base.html" %}
{% block title %}Галерея{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Галерея</h1>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/crs1.jpg') }}" class="d-block w-100 img-fluid" alt="Изображение 1" style="max-width: 800px; max-height: 800px; width: auto; height: auto; margin: 0 auto;">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/crs2.png') }}" class="d-block w-100 img-fluid" alt="Изображение 2" style="max-width: 800px; max-height: 800px; width: auto; height: auto; margin: 0 auto;">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/crs3.jpg') }}" class="d-block w-100 img-fluid" alt="Изображение 3" style="max-width: 800px; max-height: 800px; width: auto; height: auto; margin: 0 auto;">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/crs4.jpg') }}" class="d-block w-100 img-fluid" alt="Изображение 4" style="max-width: 800px; max-height: 800px; width: auto; height: auto; margin: 0 auto;">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>
</div>
{% endblock %}
